<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
      <ion-buttons start>
        <button ion-button="" icon-only="" (click)="onNewContact()">
          <ion-icon name="add"></ion-icon>
        </button>
        </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

      <div padding="">
          <ion-item>
            <ion-label>Mot cle:</ion-label>
            <ion-input type="text" [(ngModel)]="motcle"></ion-input>
          </ion-item>
          <button ion-button="" block="" color="danger" (click)="onSearch()">Chercher</button>
        </div>
    
  <ion-list *ngIf="contact">
    <ion-item *ngFor="let c of contact?.content" (click)="onDetailContact(co)">
  
      {{c.nom}} {{c.prenom}}
    
    </ion-item>
  </ion-list> 
</ion-content>
